@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.wrapper {
  overflow-y: scroll;
  height: 100vh;
  /* overflow-y: auto; Enable vertical scrolling */
  overflow-x: hidden;
  background: linear-gradient(to right, rgb(26, 42, 62), #000000f7);
}

#back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #201d1daf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6e6d72;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4b4a4a;
}

.todo-div {
  background: linear-gradient(to right, rgba(26, 42, 62, 0.472), #000000f7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px
    linear-gradient(to right, rgba(26, 42, 62, 0.249), #000000f7);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 4deg;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-right: solid 1px #3b82f6;
}

#todo-image {
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  opacity: 0.8;
  filter: grayscale(30%);
}

.todo-div:hover {
  transform: scale(1.02);
  box-shadow: 0 0 2px #3b82f6;
  transition: 0.1s;
}

.todo-statement {
  font-size: 4rem;
  color: white;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.decleration {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.things {
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #3b82f6, rgb(120, 11, 245));
}

#feature-grid {
  border-left: dashed 1px #3b82f6;
  margin-left: 30px;
}
#integration-grid {
  border-left: dashed 1px #e76f51;
  margin-left: 30px;
}

#customer-grid {
  border-right: dashed 1px #2a9d8f;
  margin-right: 30px;
}

.chat-div {
  background: linear-gradient(to right, rgba(26, 42, 62, 0.472), #000000f7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px
    linear-gradient(to right, rgba(26, 42, 62, 0.249), #000000f7);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: -4deg;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-left: solid 1px #2a9d8f;
}

#chat-image {
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  opacity: 0.8;
  filter: grayscale(30%);
}

.chat-div:hover {
  transform: scale(1.02);
  box-shadow: 0 0 2px #2a9d8f;
  transition: 0.1s;
}

.chat-statement {
  font-size: 4rem;
  color: white;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.chat-decleration {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.team {
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #2a9d8f, #e7c451);
}

#time-div {
  background: linear-gradient(to right, rgba(26, 42, 62, 0.472), #000000f7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px
    linear-gradient(to right, rgba(26, 42, 62, 0.249), #000000f7);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 4deg;
  transition: 0.3s;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-right: solid 1px #f6573b;
}

#time-image {
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  opacity: 0.8;
  filter: grayscale(10%);
}

#time-div:hover {
  transform: scale(1.02);
  box-shadow: 0 0 2px #f6573b;
  transition: 0.1s;
  border-right: solid 1px #f6573b;
}

.time-statement {
  font-size: 4rem;
  color: white;
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.time-decleration {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  transition: 0.3s;
}

.time {
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, #f6573b, #692a9d);
}

@media only screen and (max-width: 500px) {
  #features,
  #integrations,
  #customers {
    margin-top: 50px;
  }

  .todo-div {
    width: 300px;
    height: 300px;
  }

  .todo-statement {
    font-size: 2rem;
  }

  .decleration {
    font-size: 1rem;
  }

  #todo-image {
    width: 300px;
    height: 300px;
  }

  .chat-statement {
    font-size: 2rem;
    margin-top: 5px;
  }

  .chat-decleration {
    font-size: 1rem;
    margin-top: 5px;
  }

  .time-statement {
    font-size: 2rem;
    margin-top: 5px;
  }

  .time-decleration {
    font-size: 1rem;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
  #features,
  #integrations,
  #customers {
    margin-top: 50px;
  }

  .todo-div {
    width: 300px;
    height: 300px;
  }

  .todo-statement {
    font-size: 2rem;
  }

  .decleration {
    font-size: 1rem;
  }

  #todo-image {
    width: 300px;
    height: 300px;
  }

  .chat-statement {
    font-size: 2rem;
    margin-top: 5px;
  }

  .chat-decleration {
    font-size: 1rem;
    margin-top: 5px;
  }

  .time-statement {
    font-size: 2rem;
    margin-top: 5px;
  }

  .time-decleration {
    font-size: 1rem;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 700px) {
  #features,
  #integrations,
  #customers {
    margin-top: 50px;
  }

  .todo-div {
    width: 300px;
    height: 300px;
  }

  .decleration {
    font-size: 1rem;
  }

  #todo-image {
    width: 300px;
    height: 300px;
  }

  .chat-decleration,
  .time-decleration {
    font-size: 1rem;
    margin-top: 5px;
  }

  .time-statement,
  .chat-statement,
  .todo-statement {
    font-size: 2rem;
    margin-top: 5px;
  }
}
